  :root {
    --primary-color: #ff0000;
    --secondary-color: #444449;
    --accent-color: #F5F4F6;
    --additional-accent-color: #0b120b;
    --heading-font: 'Space Mono', monospace;
    --paragraph-font: 'Space Mono', monospace;
    --nav-bg-color: #ff0051;
    --nav-link-color: #F5F4F6;
    --nav-hover-link-color: #FE8420;
    --nav-hover-bg-color: #847e7e;
  }

  body {
    box-sizing: border-box;
    margin: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: red;
    text-align: center;
    margin: 20px 0;
  }


  /* Add styles for paragraphs */
  p {
    font-family: var(--paragraph-font);
    color: var(--additional-accent-color);
    line-height: 1.5;
    margin-bottom: 20px;
  }

  .hero {
    position: relative;
  }

  .hero-title {
    background-color: rgba(30, 31, 33, 0.884);
    font-family: Arial;
    font-weight: 300;
    font-size: 40px;
    width: 400px;
    color: rgb(255, 0, 0);
  }

  .hero-image {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    min-height: 330px;
    object-fit: cover;
  }

  .position-absolute {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px;
    width: 100%;
  }

  .happy-client-container {
    display: flex;
    width: 80%;
    background-color: rgba(255, 0, 0, 0.7);
    align-items: center;
  }

  .motto {
    padding: 0px 10px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color: white;
  }

  .happy-client {
    float: right;
    height: auto;
    max-height: 150px;
    margin-left: auto;
  }

  .history-container {
    height: auto;
    border: 1px solid var(--primary-color);
    position: relative;
  }

  .history-p-container {
    display: flex;
    margin: 1rem;
  }

  .history-image{
    position: absolute;
    width: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .history-image img {
    width: 150px;
    object-fit: cover;
    border: 1px solid black;
  }

  .left{
    width: 48%;
    float: left;
    margin-left: 30px;
  }
  .left:before,
  .right:before{
    content: "";
    width: 80px;
    height: 450px;
  }

  .left:before{
    float: right;
    shape-outside:margin-box;
  }

  .right {
    width: 48%;
    float: right;
  }
  .right:before{
    float: left;
  }
  .column-container {
    width: 50%;
    margin: 1rem;
  }

  .adventure-section {
    border: 1px solid red;
  }

  .adventure-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin: 20px;
  }

  .adventure-photos figure {
    margin: 10px;
  }

  .adventure-photos img {
    width: 100%;
    object-fit: contain;
  }

  figure {
    border: 1px solid black;
    text-align: center;
    padding-bottom: 5px;
    border-radius: 5px;
  }
